.footer {
    background-color: #f5f8fa;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    justify-content: center;
}

.footer-navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer-navigation li {
    margin: 5px 15px;
}

.footer-navigation a {
    color: #1DA1F2;
    text-decoration: none;
    font-size: 14px;
}