@import "./header.css";
@import "./footer.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.d-none {
  display: none;
}
